.wrap {
    position: relative;
    max-width: 980px;
    margin: 0 auto;
}
#logo {
    color: white;
}
.pageWrap {
    min-height: 100vh;
    display: flex;
    flex-direction: column ;
}
.header-divider {
    height: 44px;
    float: left;
    margin-top: 10px;
}
#nav {
    float: left;
    background: none;
    border: 0;
    line-height: 62px;
}
#nav a {
    color: white;
}
#nav .ant-menu-item-selected a{
    color: #1890ff;
}
.xs-nav {
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}
.main {
    flex: 1
}
.main .wrap {
    border: 1px #cccccc solid;
    border-top: 0;
}
.index-menu li{
    transition: .5s;

}
.index-menu li:hover {
    background: #1890ff;
}
.index-menu li a:hover {
    color: white;
}
.index-menu .ant-menu-item-selected {
    border-right: 3px #1890ff solid;
}
.index-list {
    border-left: 1px #cccccc solid;
}